html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  header {
    background: purple;
    height: 100px;
  }
  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }
  article {
    padding: 10px;
    margin: 10px;
    background: aqua;
  }
  section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  article {
      flex: 1 200px;
      
  }
  article:nth-of-type() {
      flex: 2 200px;
     
  }