body{
  font:100% "Times New Roman","宋体";
  margin:2px;
}
h2{
  font-size:1.5em;
  background: #5e8bc1;
  border:3px solid #6082b6;
}
p{
  text-indent:2em;
  font-size:18px;
  font-weight:bold;
  margin:8px;
}
li{
	font-size:1.25em;
	font-weight:bold;
	color:#191970;
}
